<div class="login-container">
  <mat-card>

    <mat-card-title>
      <mat-toolbar color="primary">Novo Cargo</mat-toolbar>
    </mat-card-title>

    <mat-card-content>
      <form (submit)="onSubmit()" [formGroup]="loginForm">

        <mat-form-field>
          <input matInput type="text" placeholder="NOME" formControlName="nome">
          <mat-error *ngIf="loginForm.get('nome').hasError('required')">
            Campo obrigatório!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="DESCRIÇÃO" formControlName="descricao">
        </mat-form-field>

        <button type="submit" mat-button color="primary" [disabled]="loginForm.invalid">Salvar</button>

      </form>
    </mat-card-content>

  </mat-card>
</div>
